#scorePrompt, #leaderboard {
  width: 80%;
  height: 80%;
  background-color: rgba(91, 192, 222, 200);
  border: 3px solid black;
  text-align: center;
  z-index: 1;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  font-family: "Comic Sans MS";
  visibility: hidden;
}

#scorePrompt ul {
  list-style-type: none;
}

#leaderboard table {
  width: 80%;
  height: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
  z-index: 2;
}

#leaderboard tr.leaderboardEntry {
  height: 10%;
  width: 100%;
}

#leaderboard td {
  border: 1px solid black;
  padding: 0;
}

.leaderboardImage {
  background-repeat: no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px;
}

#leaderboardButton {
  background-color: yellow;
}

#leaderboardButtons {
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

#leaderboardPage {
  width: 50px;
}

.leaderboardButton:active {
  margin-right: 2px;
}
