html {
	background: url("../images/background.png") no-repeat;
	background-size: cover;
}

.center {
	text-align: center;
	margin: auto;
}

/*
Thank you stackoverflow for this solution, owen's js implementation was horrible
https://stackoverflow.com/questions/16771225/css3-rotate-animation
*/
.joy {
    width: 15em;
    height: 15em;
    position: absolute;
    top: 10px;
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#letters * {
	font-size: 200px;
	visibility: hidden;
}

#letters *:nth-child(3n+1) {
	color: white;
}


#letters *:nth-child(3n+2) {
	color: red;
}


#letters *:nth-child(3n) {
	color: blue;
}

.game-link {
	color: red;
	font-size: 20px;
	font-family: "Comic Sans MS";
	text-decoration: none;
}

.game-link:hover {
	color: #ff6666;
}

#gif {
	position: absolute;
	bottom: 5%;
	left: calc(50vw-265px/2);
}

#brexitGame {
	width: 200px;
	height: 200px;
	position: absolute;
	bottom: 0;
	margin-bottom: 5%;
	margin-right: -5%;
	border: 0 solid black;
}

#poly {
	stroke: red;
	stroke-width: 0;
	color: rgba(0,0,0,255);
	position: relative;
	right: 200px;
}

#poly:hover {
	stroke-width: 2;
	color: rgba(255,0,0,0);
}

