html {
	background: url("../images/background.png") no-repeat;
	background-size: cover;
}

.center {
	text-align: center;
	margin: auto;
}

.joy {
	width: 15em;
	height: 15em;
	position: absolute;
	top: 10px;
}

.brexit {
	font-size: 200px;
	visibility: hidden;
}

.game-link {
	color: red;
	font-size: 20px;
	font-family: "Comic Sans MS";
	text-decoration: none;
}

.game-link:hover {
	color: #ff6666;
}

#b, #x {
	color: white;
}

#r, #i {
	color: red;
}

#e, #t {
	color: blue;
}

#gif {
	position: absolute;
	bottom: 5%;
	left: 50%;
}

#brexitGame {
	width: 200px;
	height: 200px;
	position: absolute;
	bottom: 0;
	margin-bottom: 5%;
	margin-right: -5%;
	border: 0 solid black;
}

#poly {
	stroke: red;
	stroke-width: 0;
	color: rgba(0,0,0,255);
	position: relative;
	right: 200px;
}

#poly:hover {
	stroke-width: 2;
	color: rgba(255,0,0,0);
}
