html {
	background: url("../images/background.png") no-repeat;
	background-size: cover;
}

.center {
	text-align: center;
	margin: auto;
}

.joy {
	width: 15em;
	height: 15em;
	position: absolute;
	top: 10px;
}

.brexit {
	font-size: 200px;
	visibility: hidden;
}

#b, #x {
	color: white;
}

#r, #i {
	color: red;
}

#e, #t {
	color: blue;
}

#gif {
	position: absolute;
	bottom: 5%;
	left: 50%; 
}

#brexitGame {
	font-size: 30px;
	text-decoration: none;
	color: #3f932c;
}

#brexitGame:hover {
	font-size: 32px;
	color: #4cba34;
}