#navbar {
  height: 80px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -moz-linear-gradient(top, #2997ce 0%, #49a1e5 51%, #7db9e8 100%);
  background: -webkit-linear-gradient(top, #2997ce 0%,#49a1e5 51%,#7db9e8 100%);
  background: linear-gradient(to bottom, #2997ce 0%,#49a1e5 51%,#7db9e8 100%);
}

.main-container {
  height: 90%;
  width: 100%;
  position: absolute;
  top: 10%;
  left: 0;
  overflow: hidden;
}

#navbar ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  display: table;
  position: absolute;
  transform: translate(50%, 50%);
  bottom: 50%;
  right: 50%;
}

#navbar li {
  float: left;
}

.scores {
  margin-left: 20px;
}

.hide {
  visibility: hidden;
}

.nav-button {
  border: 1px solid black;
  margin: 5px;
  height: 25px;
  width: 150px;
}

.nav-button:hover {
  border: 2px solid black;
}

.nav-button:active {
  width: 148px;
  height: 23px;
  margin: 6px;
}

#nav-buttons {
  position: absolute;
  bottom: 1%;
  right: 1%;
  margin: 0;
  list-style-type: none;
  padding: 0;
  width: 150px;
  bottom: 50%;
  transform: translateY(50%);
}

#navbar-image {
  border-radius: 50%;
  border: 2px solid black;
  width: 60px;
  height: 60px;
  margin: 5px;
  visibility: hidden;
}

#navbar-username {
  transform: translateY(50%);
  bottom: 50%;
  position: relative;
}

#navbar-profile {
  height: 60px;
  float: left;
  margin: 5px

}
